@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

.parent-div-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    // background-image: url('../assets/bg_updated.jpg');
    // background-position: center;
    // background-size: cover;
    background-color: black;

    .contact-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 100%;
        border-radius: 10px;
        padding: 20px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(15px);
        z-index: 1;

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 20px;
            font-family: 'Pacifico', cursive;
            color: snow;
        }

        .primary-inputs {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-bottom: 20px;

            input {
                width: 100%;
                height: 60%;
                border-radius: 10px;
                border: 1px solid #000;
                padding: 10px;
                margin-top: 30px;
                margin-left: 10px;
                margin-right: 10px;
                text-align: center;
                font-family: inherit;
                font-size: 1.2rem;
                background: transparent;
                color: snow;

                &::placeholder {
                    color: snow;
                }

                &:focus {
                    outline: none;
                }

                &:focus::placeholder {
                    color: transparent;
                }
            }
        }

        .textarea-input {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-bottom: 20px;

            textarea {
                width: 100%;
                height: 30rem;
                border-radius: 10px;
                border: 1px solid #000;
                padding: 10px;
                margin-top: 30px;
                font-family: inherit;
                font-size: 1.2rem;
                background: transparent;
                color: snow;
                text-align: center;

                &::placeholder {
                    color: snow;
                }

                &:focus {
                    outline: none;
                }

                &:focus::placeholder {
                    color: transparent;
                }
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            height: 100%;
            margin-bottom: 20px;

            button {
                width: 100%;
                height: 60%;
                border-radius: 10px;
                border: 1px solid #000;
                padding: 10px;
                margin-top: 30px;
                margin-left: 10px;
                margin-right: 10px;
                text-align: center;
                font-size: 1.5rem;
                font-weight: bold;
                background-color: #fff;
                color: #000;
                font-family: inherit;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .parent-div-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        font-family: 'Montserrat', sans-serif;

        .contact-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            border-radius: 10px;
            padding: 20px;
            border-radius: 30px;

            h1 {
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .primary-inputs {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                margin-bottom: 20px;

                input {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    border: 1px solid #000;
                    padding: 10px;
                    margin-top: 30px;
                    margin-left: 10px;
                    margin-right: 10px;
                    text-align: center;
                    font-family: inherit;
                    font-size: 1rem;

                    &:focus {
                        outline: none;
                    }

                    &:focus::placeholder {
                        color: transparent;
                    }
                }
            }

            .textarea-input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                margin-bottom: 20px;

                textarea {
                    width: 100%;
                    height: 25rem;
                    border-radius: 10px;
                    border: 1px solid #000;
                    padding: 10px;
                    margin-top: 30px;
                    font-family: inherit;
                    font-size: 1rem;
                }
            }

            .buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                height: 100%;
                margin-bottom: 20px;

                button {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                    border: 1px solid #000;
                    padding: 10px;
                    margin-top: 30px;
                    margin-left: 10px;
                    margin-right: 10px;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: bold;
                    background-color: #fff;
                    color: #000;
                    font-family: inherit;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
