@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

    .main-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        padding: 20px;
        height: 100vh;
        margin: 0;
        z-index: 1;

        .intro-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 20px;
            border-radius: 50px;
            margin-top: 50%;
            margin-bottom: 50%;
            background-color: rgba(255, 255, 255, .15);  
            backdrop-filter: blur(15px);
            z-index: 1;

            .my-image {
                width: 170px;
                height: 170px;
                border-radius: 50%;
                margin: auto auto 60px auto;
            }

            p {
                text-align: center;
                font-size: 1.2rem;
                padding: 5px;
                font-weight: bold;
                word-wrap: break-word;
                // color: #2C272E;
                color: snow;

                span {
                    color: crimson;
                    font-weight: bolder;
                }
            }

            .main-heading {
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 40px;
                .dynamic-text {
                    // color: #2C272E
                    color: snow;
                }
            }

            .ityped-cursor {
                animation: blink 1s infinite;
                // color: #2C272E;
                color: snow;
            }

            @keyframes blink {
                100% {
                    opacity: 0;
                }
            }

            .about-div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 100%;
                padding: 5px;
                border-radius: 50px;
                margin-top: 10%;
                margin-bottom: 10%;
                background: #516BEB;

                .about-div-link {
                    text-decoration: none;
                    color: snow;
                    font-size: 1.3rem;
                    margin: auto;

                    &:hover {
                        color: black;
                        font-weight: bold;
                    }
                }
            }

            hr {
                width: 100%;
                // border: 1px solid #2C272E;
                border: 1px solid snow;
                margin-bottom: 20px;
            }

            .contact-links {
                display: flex;
                flex-direction: row;
                position: relative;
                .contact-links-div {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 60px;
                    padding: 20px;
                    border-radius: 50%;
                    background: #516BEB;
                    text-decoration: none;
                    color: white;
                    margin: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .main-div {
        height: auto;
        .main-card {
            width: auto;
            position: relative;
            .intro-div {
                .main-heading {
                    font-size: 2rem;
                }
                .my-image {
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    margin-bottom: 40px;
                }
                .about-div {
                    width: 100%;
                    height: auto;
                    .about-div-link {
                        margin: auto;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

// media query for height less than 690px
@media screen and (max-height: 690px) {
    .main-div {
        .main-card {
            .intro-div {
                p{
                    font-size: 1rem;
                }
                .main-heading {
                    font-size: 1.5rem;
                    margin-top: auto;
                }
                .my-image {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    margin-bottom: 40px;
                }
                .about-div {
                    width: 100%;
                    height: auto;
                    .about-div-link {
                        margin: auto;
                        font-size: 0.9rem;
                    }
                }

                .contact-links {
                    .contact-links-div {
                        width: 40px;
                        height: 40px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}